<h1>Weather API</h1>
<p>This component demonstrates fetching data from the server.</p>

<p>Please type city name in below input field then click Submit button.</p>
City Name: <input type="text" [(ngModel)]="cityname"/>
<button class="btn btn-primary" (click)="searchWeather()">Submit</button>

<hr/>
<div *ngIf="curweather && curweather.cod == 200">
  
  <p class="weather-main">Weather is <strong>{{curweather.weather[0].main}}</strong></p>
  <p class="weather-cloudiness">Cloudiness is <strong>{{curweather.clouds.all}}%</strong></p>
</div>

<div *ngIf="curweather.cod != 200" class="notfound">
  <p>Sorry, Not found!<br /> It might not registared City Name. Please type it Perth or magor city name.</p>
</div>


